.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(210, 210, 225);
  
}
.minVh{
  min-height: calc(100vh - 120px);
}

/* .step1::after {
  content: "-------";
  color: green;
  position: absolute;
}

.step2::after {
  content: "-------";
  color: green;
  position: absolute;
} */

/* .step2 
{  
   display: inline;  
}  
.steps3 
{  
    float:right;  
}  
.step1  
{  
float:left;  
}   */