.addButton {
  margin-left: 10px;
  border: none !important;
  color: white !important;
}

/* You can add more custom styles as needed */


.removeButton {
  border: none !important;
  border-color: #e11912;
  color: white !important;
  /* You can add more custom styles as needed */
}

.workForm {
  background-color: #f7f0f0;
  padding: 10px;
  margin-bottom: 30px;
}

.my_custom_divider{
  border: 2px solid #000; /* Increase the thickness by setting the border width */
}