.bullet-list-group .list-group-item {
  list-style-type: disc;
  background-color: brown;
}

.largeFont {
  font-size: 1.9rem;
}

.mediumFont {
  font-size: 1.4rem;
}

.smallFont {
  font-size: 1.2rem;
}

.defaultFont {
  font-size: 1.1rem;
}